<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <title>{{ page.title | default: site.title }}</title>
    <link rel="icon" href="{{ site.baseurl }}/favicon.svg" type="image/svg+xml">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
	<div class="site d-flex flex-column min-vh-100">
		{% include header.html %}
		<main class="d-flex flex-column flex-grow-1">
			{{ content }}
		</main>
		{% include footer.html %}
	</div>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/js/lenis.min.js" defer></script>
    {% if page.scripts %}
    {% for script in page.scripts %}
    <script src="{{ site.baseurl }}/assets/js/{{ script }}" defer></script>
    {% endfor %}
    {% endif %}
    {% if page.ratio %}
    <script defer>
        new RatioCalculator({{ page.ratio }});
    </script>
    {% endif %}
  </body>
</html>